body {
  background-color: rgb(215, 152, 224);
}

header {
  background-color: rgb(180, 57, 224);
  height: 100px;
}

h1 {
  text-align: center;
  font-size: 40px;
  padding: 35px;
}

main {
  display: block;
  padding: 200px;
  padding-top: 5%;
  padding-left: 32%;
  height: 200px;
  justify-content: center;
  background-color: rgb(215, 152, 224);
}

.caixa{
  width: 500px;
  height: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: rgb(180, 57, 224);;
  border-radius: 5%;
  }
  
#categoria,
#Origem,
#Destino {
  width: 200px;
  padding: 10px;
  font-size: 17px;
  text-align: center;
}

label {
  margin-top: 10px;
  line-height: 40px;
  font-size: 20px;
}

input[type="number"] {
  width: 200px;
  padding: 8px;
}

button {
  margin-top: 20px;
  padding: 10px;
  width: 100px;
}

#resultado {
  margin-top: 20px;
  font-size: 20px;
}

footer {
  padding-top: 200px;
  text-align: center;
  color: aliceblue;
  font-size: 22px;
}